<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers2.js"></script>

    <!-- I really hope this works -->

    <script src='lib/lodash/dist/lodash.min.js'></script>
    <script src='lib/bluebird/js/browser/bluebird.js'></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.js'></script>


</head>
<body ng-app="starter" ng-controller="MapCt">

<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Costas Demo App</h1>
    </ion-header-bar>
    <ion-content>
        <section>

            <textarea ng-model="map.zoom"  ng-change="castToNumberMap()"></textarea>

            <div id="one">

                <ion-list>
                    <ion-item>


                        Marker ID:
                        <textarea name="comment" ng-model="model.keyID" ng-change="pushEditable(model.keyID)">
                        </textarea>
                    </ion-item>
                    <ion-item>
                        <!--<textarea name="comment" ng-model="isChecked" ">-->
                        <!--</textarea>-->
                        <ion-checkbox ng-model="model.hasChecked" ng-change="pushNotificationChange(model.keyID)">Show/Hide
                            Marker
                        </ion-checkbox>

                    </ion-item>

                    <ion-item>
                        Lat: <textarea name="comment" ng-model="model.currLat" ng-change="changeLat()">
                    </textarea>
                    </ion-item>
                    <ion-item>
                        Long: <textarea name="comment" ng-model="model.currLong" ng-change="changeLong(model.keyID)">
                    </textarea>
                    </ion-item>

                    <ion-item>
                        <input type="image"  name="image" src="img/add.png" width="30" height="30"
                               ng-click="addRandomMarker()" > <span ng-click="addRandomMarker()">Add Random Marker</span>

                    </ion-item>
                </ion-list>
            </div>




            <div id="two">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">

                    <!--<ui-gmap-marker idKey="marker.idKey" coords="marker.coords"></ui-gmap-marker>-->

                    <!--<ui-gmap-marker ng-repeat=" ma in randomMarkers" idKey="ma.idKey" coords="ma.coords"-->
                                    <!--ng-if="ma.checked==true" click="clickedOnMarker(ma)"-->
                                    <!--options="ma.options">-->

                        <ui-gmap-markers models="randomMarkers" coords="'coords'" icon="'icon'" options="'options'" events="events">
                        </ui-gmap-markers>


                    <!--</ui-gmap-marker>-->




                </ui-gmap-google-map>


                <ion-scroll direction="xy" style="width: 100%; height: 500px">
                    <ion-list>

                        <ion-item ng-repeat=" ma in randomMarkers" >

                            <input type="image" name="image" src="img/delete.png" width="30" height="30" ng-click="deleteMarker(ma)">

                            <span ng-click="clickedOnMarker(ma)">
                             {{ma}}

                            </span>


                        </ion-item>
                    </ion-list>
                </ion-scroll>


            </div>
        </section>
    </ion-content>
</ion-pane>


</body>
</html>
